* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    text-align: center;
    min-width: 600px;
}

.grid-container{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    height: 200px;
    width: 200px;
    border: solid 1px black;
    font-size: 150px;
    line-height: 1.3;
    text-align: center;
}